!!! 5
html
  head
  body
    ul
      - url = "/feeds/" + user
      li
        a(href=url) All
      - lists.forEach(function(item) {
      - url = "/feeds/" + user + "/" + item.id
      li
        a(href=url) #{ item.name }
      - })
